@import "../../../styles/variables.less";

table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

td,th {
  text-align: center;
  padding: 5px;
}

th {
  background: @brand-primary;
  color: #fff;
  font-weight: 300
}

tbody {
  border: 1px solid #000;
}
